.dashboard{
    margin-right: 15px;
    .widget-dashboard{
        border-top: 2px solid #1caf9a;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
        .panel-heading{
            padding: 10px;
            background: #F5F5F5;
            border-color: #E5E5E5;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
        .container-body{
            .panel-body{
                padding: 15px;
                background-color: white;
                .btn-default{
                    border-color: #DDD;
                }
                .date-range-picker{
                    border: none;
                    margin-top: 7px;
                }
                .list-content{
                    height: 308px;
                    overflow-y: scroll;
                }
            }
        }
    }

    h6{
        font-size: 14px;
    }
    .col-left{
        

        .item-block{
            background-color: white;
            margin-bottom: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            .result-today{

            }
        }
        .header{
            .col-md-9{
                font-size: 15px;
                text-transform: uppercase;
                padding-top: 10px;
                select{
                    background-color: transparent;
                    border: 0;
                    color: #0094da;
                    font-weight: bold;
                }
            }
        }
    }
    .col-right{
        .banner{
            img{
                width: 100%;
            }
        }
        .activities{
            background-color: white;
            padding: 15px;
            margin-top: 15px;
        }
    }
}