%transition-style {
  opacity: .3;
  transition: all 500ms;
}

@mixin style-checkbox-radio($type) {
  $check-ico: "";
  $border-ico: "";
  $top: 8px;
  $left: 3px;

  @if $type == "checkbox" {
    $check-ico: "\f00c";
    $border-ico: "\f0c8";
    $left: 3px;
  } @else {
    $check-ico: "\f111";
    $border-ico: "\f111";
    $left: 4px;
  }

  input {
    display: none;
    &:checked + label:after {
      content: $check-ico;
      opacity: 1;
    }
  }
  label {
    position: relative;
    margin-bottom: 0;
    cursor: pointer;

    &:before {
      @extend %font-awesome;
      position: relative;
      top: 2px;
      content: $border-ico;
      font-weight: 400;
      opacity: 0.7;
      margin-right: 10px;
      font-size: 1.2rem;
    }
    &:after {
      @extend %font-awesome;
      content: "";
      position: absolute;
      top: $top;
      left: $left;
      margin-right: 8px;
      color: theme-color("primary");
      font-size: 0.7rem;
      @extend %transition-style;
    }
  }
}

.style-checkbox {
  @include style-checkbox-radio("checkbox");
}

.style-radio {
  @include style-checkbox-radio("radio");
}