body{
    font-size: 13px;
}
.hide{
    display: none;
}
.fa, .fas{
    font-size: 14px;
    margin-right: 3px;
}
.max-width-50{
    max-width: 50%;
}
.max-width-60{
    max-width: 60%;
}
.max-width-70{
    max-width: 70%;
}
.max-width-80{
    max-width: 80%;
}
.max-width-95{
    max-width: 95%;
}
.max-width-100{
    max-width: 100%;
}
.h-60{
    height: 60px;
}
.form-group{
    label{
        margin-top: 7px;
        margin-bottom: 0;
        font-weight: bold;
    }
    input.form-control{
        height: calc(2rem + 2px);
    }
    .form-control{
        font-size: 13px;
    }
}

.pretty.p-icon .state .icon{
    left: 1px;
    top: 0;
}

.msg-form{
    color: #E04B4A;
}

.has-error{
    label, .error-msg{
        color: #E04B4A;
    }
    .error-msg{
        font-size: 90%;
        font-style: italic;
        text-transform: capitalize;
    }
    .form-control{
        border: 1px solid #E04B4A;
    }
}
.min-width-200{
    min-width: 200px;
}
.select2-container{
    width: 100% !important;
    .select2-selection--single{
        height: 32px;
        .select2-selection__rendered{
            line-height: 32px;
        }
    }
}
.mt-7{
    margin-top: 7px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.table th, .table td{
    vertical-align: middle;
}
.btn{
    font-size: 13px !important;
}
.pretty.p-default input:checked~.state label:after{
    background-color: #5CB85C !important;
}
.w-100{
    width: 100%;
}
.link{
    cursor: pointer;
    color: #007FC6;
}
.out-of-stock{
    color: red;
    animation: blink 1s linear infinite;
}
@keyframes blink{
    0%{
        color: red;
    }
    100%{
        color: yellow;
    }
}
div#preloader { 
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 9999; 
    width: 100%; 
    height: 100%; 
    overflow: visible; 
}
.border-dashed{
    border-bottom: 1px dashed;
}
.border-dashed-top{
    border-top: 1px dashed;
}
div.alert{
    z-index: 9999 !important;
}
.data-changed{
    background-color: khaki;
    color: white;
}
.small-price{
    text-decoration: line-through;
    color: palevioletred;
}
input[type="text"]:disabled {
    background-color: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
}
.position-fixed-orders{
    display : block !important;
    position: fixed !important;
    left: 0 !important;
    width : 310px !important;
    top: 0;
    .item-cart{
        max-height: 280px !important;
    }
}
.position-fixed-invoices{
    display : block !important;
    position: fixed !important;
    left: 0 !important;
    width : 310px !important;
    bottom: 0;
    .item-cart{
        max-height: 280px !important;
    }
}