@mixin header-variant($color) {
    header{
        border-bottom: 1px solid #aaa;
        .top{
            background-color: white;
            .navbar{
                padding: 0;
                .select2-container{
                    width: 150px;
                    margin-top: 3px;
                }  
            }
        }
        .main-menu{
            @include nav-variant(theme-color("primary"));
        }

        .dropdown{
            .nav-link{
                font-weight: bold;
            }
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #007FC6;
                min-width: 215px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
                &.menu-left{
                    left: 0;
                }
                &.menu-right{
                    right: 0;
                }
                a {
                    color: white;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    &:hover, &.active{
                        background-color: $color;
                    }
                }
            }
            &:hover{
                .nav-link{
                    background-color: #007FC6;
                    cursor: pointer;
                    color: white;
                }
                .dropdown-content {
                    display: block;
                }
            }
            &.active{
                .nav-link{
                    background-color: #007FC6;
                    cursor: pointer;
                    color: white;
                }
            }
        } 

        .dropdown-inventory{
            .nav-link{
                background-color: white !important;
                color: black !important;
                .badge{
                    position: absolute;
                    bottom: 22px;
                    padding: 5px 7px;
                    right: 0px;
                }
            }
            &:hover{
                .nav-link{
                    background-color: #007FC6 !important;
                    color: white !important;
                }
            }
            .dropdown-content{
                .item-cart{
                    .media:last-child{
                        border-bottom: 0;
                    }
                }
            }
        }

        .dropdown-message{
            .nav-link{
                background-color: white !important;
                color: black !important;
                .badge{
                    position: absolute;
                    bottom: 22px;
                    padding: 5px 7px;
                    right: 0px;
                }
            }
            &:hover{
                .nav-link{
                    background-color: #007FC6 !important;
                    color: white !important;
                }
            }
            .dropdown-content-message{
                background-color: white;
                width: 400px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                border: 1px solid #007FC6;
                .messages{
                    max-height: 405px;
                    overflow-y: scroll;
                    .media{
                        border-bottom: 1px solid #dddfe2;
                        padding: 10px;
                        padding-bottom: 10px;
                        .media-left{
                            img{
                                border-radius: 50%;
                            }
                        }
                        &:hover{
                            background-image: linear-gradient(rgba(29, 33, 41, .04), rgba(29, 33, 41, .04));
                            cursor: pointer;
                        }
                    }
                }

                .bt{
                    span{
                        color: #365899;
                        cursor: pointer;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                
            }
        }
    }
}