main {
	 padding-top: 15px;
	.main-left{
		background-color: white;
		.panel-group{
			margin-top: 10px;
			.panel{
				padding: 0;
				padding-bottom: 1rem;
				.panel-title{
					background: #0094da;
					position: relative;
					width: 115%;
					left: -25px;
					padding: 7px 2px 8px 17px;
					font-size: 0.9rem;
					margin-bottom: 0;
					a{
						color: white;
					}
				}
				.panel-body{
					.form-control{
						height: 30px;
						font-size: 13px;
						line-height: 30px;
						padding: 0 5px;
					}
					label{
						cursor: pointer;
						margin-bottom: 0;
					}
					.pretty{
						input[type=radio]{
							margin-right: 5px;
							margin-top: 4px;	
						}
					}
				}
			}
		}
	}
	.main-right{
		.title-main{
			padding-top: 5px;
			h4{
				margin-bottom: 0;
			}
		}
		.table{
			thead{
				background-color: #DCF4FC;
			}
			tbody{
				tr:nth-child(even) {
					background-color: white;
				}
				tr:nth-child(odd) {
					background-color: #f9f9f9;
				}
				tr.bg-gray{
					background-color: #f9f9f9;
				}
				tr.bg-white{
					background-color: white;
				}
			}
			&.table-tree-view{
				td.toogle{
					cursor: pointer;
				}
			}
		}
	}
}
.modal{
	.pretty{
		input[type=radio]{
			margin-right: 5px;
			margin-top: 9px;	
		}
	}
	.form-tabs{
		.modal-header{
			border-bottom: 0;
			padding-bottom: 0;
		}
		.modal-body{
			padding-top: 10px;
			.nav-tabs{
				li{
					a{
						padding: 0 32px;
						color: #3390dc;
						font-weight: bold;
						font-size: 14px;
						padding-bottom: 5px;
						display: inline-block;
						&:hover{
							border-bottom: 2px solid #4bac4d;
							text-decoration: unset;
						}
						&.active{
							border-bottom: 2px solid #4bac4d;
						}
					}
				}
			}
			input[type='file'] {
				color: transparent;
				width: 100%;
				margin-top: 4px;
			}
		}
	}

	#img-preview{
		position: relative;
		span.close-img-preview{
			position: absolute;
			right: 0;
			cursor: pointer;
			color: red;
			font-size: 1.5rem;
			right: 5px;
			top: -7px;
			&:hover{
				color: #3390dc;
			}
		}
		img{
			width: 100%;
		}
	}
}

.gallery-dropzone{
	border: 1px dashed;
	padding: 0;
	.dz-preview{
		margin: 10px;
		.dz-image{
			width: 80px;
			height: 80px;
			border-radius: 0;
			border: 1px solid grey;
			img{
				width: 80px;
				height: 80px;
			}
		}
		.dz-details{
			display: none;
		}
		.dz-success-mark{
			top: 55%;
			left: 66%;
			svg{
				width: 30px;
				height: 30px;
			}
		}
	}
}

#modal-import-product, .modal-import{
	.row-item{
		border-bottom: 1px solid #d9d9d9;
		padding-bottom: 7px;
		margin-bottom: 15px;
	}
	.warning-content{
		background-color: #F9F9E0;
		color: #7b5e2a;
		font-style: italic;
	}
}

.list-product-component{
	.td-trash i{
		cursor: pointer;
		&:hover{
			color: red;
		}
	}
}

.dropzone-file-import{
	.dz-preview{
		display: none;
	}
}

.dropdown-content-cart{
    width: 360px;
    border: 1px solid #007FC6;
	background-color: white !important;
	
	.item-cart{
		max-height: 465px;
		overflow-y: auto;
		.media{
			border-bottom: 1px dashed;
			cursor: pointer;
			&:hover{
				color: #007FC6;
			}
			.media-left{
				img{
					width: 100px;
				}
			}
			.media-body{
				.name{
					font-weight: bold;
				}
			}
			.btn-icon.btn-delete{
				width: 14px;
				height: 14px;
				padding: 0;
				&:hover{
					background-color: #e47885;
					i{
						background-color: white;
					}
				}
				& > i {
					width: 14px;
					height: 14px;
					display: inline-block;
					background-image: none;
					background-color: #0090DA;
					-webkit-mask: url(#delete-icons);
					mask: url(#delete-icons);
					-webkit-mask-box-image: url(https://cdn-pos.kiotviet.vn/kiotvietpos/2018/10/9/17_11/assets/img/delete-icon.1a3c4c25.svg);
					background-color: #e47885;
				}
			}
		}
	}
	
	.total-price{
		font-size: 15px;
		font-weight: bold;
		color: #007FC6;
	}
}

.shopping-cart-item{
	.btn-icon.btn-delete{
		width: 14px;
		height: 14px;
		padding: 0;
		position: relative;
		top: 2px;
		margin-right: 10px;
		&:hover{
			background-color: #e47885;
			i{
				background-color: white;
			}
		}
		& > i {
			width: 14px;
			height: 14px;
			display: inline-block;
			background-image: none;
			background-color: #0090DA;
			-webkit-mask: url(#delete-icons);
			mask: url(#delete-icons);
			-webkit-mask-box-image: url(https://cdn-pos.kiotviet.vn/kiotvietpos/2018/10/9/17_11/assets/img/delete-icon.1a3c4c25.svg);
			background-color: #e47885;
		}
	}
}

.btn-warning{
	color: white;
}

.table-hover>tbody>tr:hover {
    cursor: pointer;
}

#modal-cart{
	.modal-body{
		.col-left{
			max-height: 900px;
			overflow-y: auto;
		}
		.col-right{
			// border-left: 10px solid #3390DC;
			i{
				margin-top: 10px;
				margin-right: 10px;
			}
			.add-new-customer{
				cursor: pointer;
			}
			.select-transparent{
				border: 0;
				background-color: transparent;
				text-align-last: right;
			}
			.txt-border-bottom{
				width: 80px;
				border: 0;
				border-bottom: 1px solid;
				text-align: right;margin-right: 5px;
			}
		}
	}
}
.fg-is_expires{
	margin-bottom: 0 !important;
	.p-default{
		margin-top: 0 !important;
	}
}
.item-transport-status{
	text-align: center;
	a{
		box-shadow: 0px 2px 5px #aaaaaa;
		display: block;
		padding: 15px;
		.title{
			font-size: 16px;
			margin-bottom: 5px;
			color: black;
			font-weight: bold;
		}
		.number{
			font-size: 15px;
		}
	}
	&.active, &:hover{
		a{
			background-color: #3390DC;
			color: white;
			.title{
				color: white;
			}
		}
	}
}

.widget-dashboard{
	.date-range-picker{
		width: 50%;
		text-align: center;
	}
}

.modal-cart{
	tr.shopping-cart-item{
		span.active{
			background-color: yellow;
			color: black;
			font-weight: 500;
		}	
	}
}

.form-group {
	label{
		font-size: 12px;	
	}
}

.table thead th{
	white-space: nowrap;
}

.daterangepicker.auto-apply .drp-buttons {
    display: flow-root;
}

.table th, .table td {
    white-space: nowrap;
}
.discount-note{
	font-size: 11px;
    color: red;
    font-style: italic;
    margin-top: 5px;
}
.icon-spinner{
	position: absolute;
    left: 49%;
    top: 49%;
}
.main-left{
	.pretty{
		display: block;
	}
}
