//Custom navbar
@mixin nav-variant($color, $show-bg: true) {
    $nav-bg-color: $color;
    $nav-bg-hover-color: darken($nav-bg-color, 15);
    $nav-bg-disable-color: lighten($nav-bg-color, 15);
    $nav-text-color: color-yiq($nav-bg-color);
  
    @if $show-bg == false {
      //$nav-bg-color: $body-bg;
      $nav-bg-color: #ffffff;
      $nav-bg-hover-color: $color;
      $nav-text-color: color-yiq($nav-bg-color);
    }
  
    background-color: $nav-bg-color;
  
    .nav {
      .nav-item {
        .nav-link {
          color: $nav-text-color;
          cursor: pointer;
          @if $show-bg == true {
            border-left: 1px solid rgba(255, 255, 255, 0.2);
            border-right: 1px solid rgba(0, 0, 0, 0.1);
          }
  
          @include hover-focus {
            background-color: $nav-bg-hover-color;
          }
        }
  
        &.show > .nav-link,
        &.active > .nav-link,
        .nav-link.show,
        .nav-link.active {
          background-color: $nav-bg-hover-color;
        }
        
        @include hover-focus {
          .dropdown-menu {
            display: block;
          }
        }
  
        &.dropdown {
          @include  hover-focus {
            background-color: $nav-bg-hover-color;
          }
        }
      }
    }
  
    .dropdown-menu {
      background-color: $nav-bg-hover-color;
      border-top: none;
      margin: 0;
      border-radius: 0;
    }
  
    .dropdown-item {
      color: $nav-text-color;
  
      @include hover-focus {
        color: $nav-text-color;
        text-decoration: none;
        @include gradient-bg($nav-bg-color);
      }
  
      &.active,
      &:active {
        color: $nav-text-color;
        text-decoration: none;
        @include gradient-bg($nav-bg-color);
      }
    }
  
    @if $show-bg == false {
      .navbar {
        .nav {
          .nav-item {
            @include hover-focus {
              background-color: $nav-bg-hover-color;
  
              .nav-link {
                color: color-yiq($nav-bg-hover-color);
              }
            }
          }
        }
  
        .dropdown-item {
          @include hover-focus {
            color: color-yiq($nav-bg-hover-color);
            background-color: $nav-bg-hover-color;
          }
        }
  
        .dropdown-menu {
          background-color: $nav-bg-color;
        }
      }
    }
  }