.sidebar {
  .sidebar-item {
    position: relative;
    padding: 60px 20px 10px;
    border-right: 1px solid #e6e6e6;
    background: #ffffff;

    %sidebar-item-right-icon {
      @extend %font-awesome;
      float: right;
    }

    a.title {
      position: absolute;
      top: 10px;
      left: -10px;
      width: 100%;
      padding: 5px 10px;
      background: #3390dc;
      color: #fff;
      font-weight: bold;

      &:hover {
        text-decoration: none;
      }

      &[aria-expanded="true"]:after {
        @extend %sidebar-item-right-icon;
        content: "\f139";
      }

      &[aria-expanded="false"]:after {
        @extend %sidebar-item-right-icon;
        content: "\f13a";
      }
    }

    .content {
      .form-group:last-child {
        margin-bottom: 0;
      }
    }
  }
}