
.lavender-cart .cart-bg {
    background-color: #fff; 
    border-radius: 4px;
}
.lavender-cart .shopping-cart-item { 
    padding: 28px 20px;
    margin: 0;
}
.lavender-cart .shopping-cart-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.lavender-cart .wrap .cart-col-1 .col-xs-3 {
    width: 150px;
}
.lavender-cart .shopping-cart-item .col-xs-3 {
    padding-left: 0;
}
.lavender-cart .wrap .img-thumnail-custom {
    width: 125px!important;
}
.lavender-cart .box-style+.box-style, .lavender-cart .shopping-cart-item+.shopping-cart-item {
    margin-top: 1px;
}
.col-xs-3 {
    width: 25%;
}
.lavender-cart .wrap .img-thumnail-custom .image {
    padding-right: 0;
}
.lavender-cart .wrap .image {
    margin: 0;
    position: relative;
    overflow: hidden;
    padding-right: 5px;
}
.row {
    margin-left: -15px;
    /* margin-right: -15px; */
}
p {
    margin: 0 0 10px;
}
.lavender-cart .wrap .image img {
    margin: 0 auto;
    max-width: 100%;
}
.img-responsive {
    display: block;
    height: auto;
}
.img-responsive, .img-thumbnail, .table, label {
    max-width: 100%;
}
hr, img {
    border: 0;
}
.fa-stack, img {
    vertical-align: middle;
}
.lavender-cart .col-right {
    float: left;
    /* width: 788px; */
}
.lavender-cart .wrap .cart-col-1 .box-info-product {
    width: 542px;
    padding-right: 50px;
    padding-left: 15px;
    float: left;
}
.lavender-cart .wrap .name {
    font-size: 14px;
    margin-bottom: 7px;
    line-height: 20px;
    font-weight: 700;
    padding-top: 0;
}
.lavender-cart .wrap .name a {
    color: #00b0ff;
    font-weight: 400;
}
.lavender-cart .list-endow {
    margin: 0 0 12px;
    overflow: hidden;
}
.lavender-cart .wrap .get-id {
    margin: 0 0 7px;
}
.lavender-cart .stock-success {
    color: #348f24;
    font-size: 13px;
} 
.lavender-cart .wrap .seller-by {
    font-size: 13px;
    margin-bottom: 12px;
}
.lavender-cart .wrap .action {
    position: relative;
    padding: 0!important;
    margin-bottom: 0;
    margin-top: 0;
}
.lavender-cart .wrap .action .btn-link {
    border: 0;
    color: #007ff0;
    font-size: 13px;
    margin-right: 30px;
    position: static;
    padding: 0;
}
.lavender-cart .col-right .box-price {
    float: left;
    width: 150px;
    padding-right: 15px;
}
.lavender-cart .wrap .price {
    font-size: 16px;
    font-weight: 500;
    color: #333;
}
.lavender-cart .wrap .price2 {
    font-size: 12px;
    margin-bottom: 8px;
    text-decoration: line-through;
    color: #a2a2a2;
}
.lavender-cart .wrap .sale {
    background: #ff9601;
    font-size: 13px;
    color: #fff;
    padding: 3px 6px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    margin: 0;
    text-transform: uppercase;
}
.lavender-cart .col-right .quantity-block {
    width: 70px;
    float: right;
}
.lavender-cart .wrap .cart-col-2 {
    width: 285px;
    padding-left: 0;
}
.lavender-cart .wrap .cart-col-2 #right-affix.affix-bottom, .lavender-cart .wrap .cart-col-2 #right-affix.affix-top {
    position: absolute;
    width: 270px;
}
.lavender-cart .wrap .each-row {
    width: 100%;
    clear: both;
}
.lavender-cart .box-style:first-child {
    border-radius: 4px 4px 0 0;
}
.lavender-cart .box-style {
    background-color: #fff;
    padding: 17px 20px 21px 19px;
}
.lavender-cart .box-style, .lavender-cart .shopping-cart-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.lavender-cart .wrap .btn-checkout {
    margin-top: 10px;
    padding: 10px;
}
.lavender-cart .wrap .btn-checkout {
    margin-top: 10px;
    padding: 10px;
}
.lavender-cart .btn-yellow {
    background-color: #fdd835;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 500;
    padding: 9.5px 55.5px;
}
.btn-block+.btn-block {
    margin-top: 5px;
}
.btn-block {
    display: block;
    width: 100%;
}
.lavender-cart .wrap .fee .list-info-price {
    margin: 0;
    font-size: 14px;
}
.lavender-cart .wrap .fee .total2 {
    font-size: 14px;
}
.lavender-cart .wrap .fee .total2 .text-label {
    margin-top: 5px;
    display: inline-block;
}
.lavender-cart .wrap .fee .total2 .amount {
    float: right;
}
.lavender-cart .wrap .fee .total2 .amount p {
    margin: 0;
    text-align: right;
}
.lavender-cart .item-group-separated {
    border-top: 1px dashed #D5D5D5;
}
.lavender-cart .input:focus {
    border-color: #C5C5C5;
}
.lavender-cart .discount {
    text-align: right;
    height: 30px;
    padding: 0 5px 0 5px;
    width: 100px;
    display: block;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 14px;
}
.lavender-cart .quantity {
    text-align: right;
    height: 30px;
    width: 50px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0px 6px;
    font-size: 14px;
}
.lavender-cart .total-price, .popover .total-price {
    text-align: right;
    height: 30px;
    width: 200px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0px 6px;
    font-size: 14px;
}
.lavender-cart .show {
    display: block;
}
.lavender-cart .hidden {
    display: none;
}
.lavender-cart .total-price:focus, .lavender-cart .quantity:focus, .lavender-cart .discount:focus {
    border-color: #C5C5C5;
}
.lavender-cart .wrap .fee .list-info-price strong {
    float: right;
    font-weight: 400;
}
.lavender-cart .wrap .fee .list-info-price+.list-info-price {
    margin-top: 13px;
}
.lavender-cart .wrap .fee .total2 strong {
    color: #fe3834;
    font-size: 22px;
    font-weight: 400;
}
.lavender-cart .wrap .name a:hover, a:focus, a:visited {
    outline: 0;
    text-decoration: none;
} 


.lavender-cart .alert {
    padding: 17px 15px;
    font-size: 20px;
    margin-bottom: 10px;
}
.lavender-cart .alert-info {
    background-color: #fffffb; 
    color: #333;
}
.lavender-cart .alert {
    border: 1px solid transparent;
    border-radius: 4px;
}
.lavender-cart .alert-info span {
    font-size: 14px;
    text-transform: none;
    font-weight: 300;
}
