// @import url('https://fonts.googleapis.com/css?family=Nunito');

//background color
//$body-bg: #f8fafc;
$body-bg: #eee;

//own var
%font-awesome {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//font-awesome 5
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

@import "../mixins/global";
@import "../mixins/navbar";
@import "../mixins/header";
@import "../mixins/sidebar";
@import "../mixins/main";
@import "../mixins/dashboard";
@import "../mixins/form-components";

@media (min-width: 1200px) {
    .container-fluid {
        width: 97%;
        padding-right: 0;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}