.pagination{
    justify-content: center;
    li{
        border-radius: 50%;
        margin: 0 5px;
        &.active, &:hover{
            .page-link{
                background-color: #3390dc !important;
                border-color: #3390dc !important;
                color: white;
            }
        }
        .page-link{
            border-radius: 50% !important;
            line-height: 19px;
            background-color: #F2F2F2;
            color: gray;
            width: 36px;
            height: 35px;
            text-align: center;
            padding: 0;
            padding-top: 7px;
        }
    }
}