$theme-colors: (
  "primary": #3390dc,
  "info": #304959,
  "success": #4bac4d,
  "warning": #c29642,
  "danger": #f44336
);

@import "common";
@import "pagination";

//style nav-bar
//@include navbar-variant(theme_color('primary'));
//@include navbar-variant(theme_color('primary'));

@include header-variant(theme_color('primary'));

.table-bordered-print{
  table, td, th {
    border: 3px solid #dde2e7;
  }
}
